workflow-ingestion.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1XH1nGKnXeine2ZoW8XQMg9V4u0XWxNWG",
          "mode": "list",
          "cachedResultName": "myfirstn8nproject",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1XH1nGKnXeine2ZoW8XQMg9V4u0XWxNWG"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0911b239-0583-4e05-a085-7acf2fcf5dc0",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fTRjNGXsNEPyA8yu",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }} ",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "08447ef1-9fcf-4735-9c74-89fcb0b1514e",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fTRjNGXsNEPyA8yu",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "7adfb1e9-dd48-4b7c-8265-346756526bab",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "rag-docs",
          "mode": "list",
          "cachedResultName": "rag-docs"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        624,
        0
      ],
      "id": "626d58e8-f6ea-447b-95b3-4c64b7a64b36",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "JIhl4FiPWjmElIKP",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        528,
        192
      ],
      "id": "fd4a6dc9-1644-4d47-b1d5-afd8d642d085",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "Wmeo3tZPCZpYgN2J",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        768,
        208
      ],
      "id": "b45a35b9-fb76-46d7-8bdb-9c286ad656ad",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "00c69d76-3f89-4b9c-88fa-c3eb9010b02b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "53c8cc5bf58893528c4bdf57062d00082717aecd065a92c1a24606260dab2ab4"
  },
  "nodeGroups": [],
  "id": "7bQlkRMSyVPQIRA6",
  "tags": []
}
